<div class="settings-toolbar">
  <div class="control-bar">
    <div class="custom-select-shell guild-select-shell">
      <select id="guildSelect"></select>
    </div>
    <button id="guildReloadBtn" type="button" data-i18n="guildReloadBtn">Reload Current Guild</button>
    <div id="status" class="row"></div>
  </div>
  <div class="row settings-actions">
    <button id="loadSettingsBtn" type="button" data-i18n="loadSettingsBtn">Reload Form</button>
    <button id="saveSettingsBtn" type="button" class="primary" data-i18n="saveSettingsBtn">Save Settings</button>
  </div>
</div>
